{% macro card(title, content, image='', variant='default') %}
  <div class="card {{ 'card--' + variant }}">
    {% if image %}
      <img src="{{ image }}" class="card-img-top" alt="{{ title }}">
    {% endif %}
    <div class="card-body">
      <h5 class="card-title">{{ title }}</h5>
      <p class="card-text">{{ content }}</p>
      <a href="#" class="btn btn-primary">Read more</a>
    </div>
  </div>
{% endmacro %}